@model List<Proyecto_Gaming.Models.Juego>

<h2>Mis Juegos Pendientes</h2>

@if (Model.Any())
{
    <div class="row">
        @foreach (var juego in Model)
        {
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="@juego.Imagen" class="card-img-top" alt="@juego.Nombre">
                    <div class="card-body">
                        <h5 class="card-title">@juego.Nombre</h5>
                        <p class="card-text">@juego.Categoria - @juego.Plataforma</p>
                        <a href="@Url.Action("MarkAsPlaying", new { id = juego.IdJuego })" class="btn btn-success">Comenzar a Jugar</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No tienes juegos pendientes.</p>
}